@import "tailwindcss";

@layer utilities {
  .paper-texture {
    background-image: radial-gradient(#C5A059 0.5px, transparent 0.5px), radial-gradient(#C5A059 0.5px, #121110 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
  }
}

html {
  scroll-behavior: auto;
}

body {
  background-color: #121110;
  color: #FDFBF7;
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}